.eur {
  background-color: #427AA1;
  color: white;
}

html, body, .container-fluid {
  height: 100%;
}

.usd, .jpy, .gbp, .cny {
    background-color: whitesmoke;
    color: #403600;
}

.col-xs-7 {
    text-align: right;
}

.row {
  height: 20%;
  border-bottom: 1px solid lightgrey;
}

.row > div {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.price {
  padding-right: 5px;
}

/* Add a ( before the change */
.change::before {
  content: '(';
}

/* Add a ) after the change */
.change::after {
  content: ')';
}

/* Add a $ before the price */
.price::before {
  content: '$';
}

/* Hide the price and change when they are empty */
.change:empty, .price:empty {
  display: none;
}


input{
    color: #403600;
    text-align: right;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}