html, body, .container-fluid {
  height: 100%;
}

.eur {
  background-color: #4C7BBE;
  color: white;
}

.usd, .jpy, .gbp, .cny {
    background-color: whitesmoke;
    color: #403600;
}

.col-xs-7 {
    text-align: right;
}

.row {
  height: 20%;
  border-bottom: 1px solid lightgrey;
}

.row > div {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


.price {
  padding-right: 5px;
}

/* Add a ( before the change */
.change::before {
  content: '(';
}

/* Add a ) after the change */
.change::after {
  content: ')';
}

/* Add a $ before the price */
/*
.price::before {
  content: '$';
}
*/

/* Hide the price and change when they are empty */
/*
.change:empty, .price:empty {
  display: none;
}
*/


input{
    color: #666;
    text-align: center;
    border: 0;
    border-radius: 4px;
    padding: 5px;
    margin-right: 7px;
    opacity: 0.6;
}
input:focus {
    outline: 0;
    opacity: 1;
    
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

span {
    margin-right: 7px;
    font-size: 1.5em;
    color: #4C7BBE;
}